<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Estudo</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>


<body>
  <div class="container">
 
    <div class="column-left">

      <div class="palette-container">
        <h3>COLOR PALETTE</h3>
        <div class="colors">

          <div class="color-box">
            <div class="square" style="background-color: #FFFFFF;"></div>
            <div class="hex">#FFFFFF</div>
          </div>

          <div class="color-box">
            <div class="square" style="background-color: #000000;"></div>
            <div class="hex">#000000</div>
          </div>

          <div class="color-box">
            <div class="square" style="background-color: #00055F;"></div>
            <div class="hex">#00055F</div>
          </div>

          <div class="color-box">
            <div class="square" style="background-color: #006400;"></div>
            <div class="hex">#006400</div>
          </div>

          <div class="color-box">
            <div class="square" style="background-color: #E70909;"></div>
            <div class="hex">#E70909</div>
          </div>

        </div>
      </div>

      <div class="typo-container">
        <h3>TYPOGRAPHY</h3>
        <h1>Roboto</h1>
        <h2>Heading</h2>
        <h3>Sub-title</h3>
        <p>Body text</p>
      </div>

    </div>

  
    <div class="column-right">

      <div class="button-container">
        <h3>BUTTONS</h3>
        <div class="button">

          <div class="button-box">
            <div class="btn btn-blue">Button</div>
            <div class="btn btn-variation">Button</div>
          </div>

          <div class="button-box">
            <div class="btn btn-green">Button</div>
            <div class="btn btn-red">Button</div>
          </div>
          
        </div>
      </div>

      <div class="form-input">
        <h3>FORM INPUT</h3>

        <input type="text" class="input" placeholder="Input" />
        <input type="text" class="input input-error" placeholder="Error" />
        <input type="text" class="input input-success" placeholder="Success" />

      <div class="input-select">
        <label><input type="checkbox" /> Yes</label>
        <label><input type="checkbox" /> No</label>
        <label><input type="radio" name="option" /> F</label> 
        <label><input type="radio" name="option" /> M</label>
      </div> 

      </div>
      </div>
  </div>
</body>


</html>
